#id_username,
#id_email,
#id_password1,
#id_password2,
#id_full_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 250px;
}

span,
ul > li {
    font-size: 10pt;
    margin-left: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.errorlist {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}
ul {
    list-style: none;
}
.form-register {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
#id_username,
#id_email,
#id_password1,
#id_password2,
#id_full_name{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgba(119, 130, 255, 0.3);
}
button {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}
#id_username:valid,
#id_email:valid,
#id_password1:valid,
#id_password2:valid,
#id_full_name:valid {
    background-color: rgba(127, 255, 0, 0.3);
}