* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*base.html*/
.wrapper {
    width: 100%;
}

header {

    background-color: #7782ff;
}

header > nav {
    display: flex;
    height: 75px;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

header > nav > div {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.logoutBase {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

li {
    list-style-type: none;
}

footer a,
header a,
.logoutBase {
    text-decoration: none;
    color: #ffffff;
}

a:hover,
.logoutBase:hover {
    text-decoration: underline;
}

/*home.html*/

.about {
    width: 1000px;
}

.service > ul {
    display: flex;
    gap: 20px;
}

.completed-requests {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.request-item {
    display: flex;
    gap: 20px;
}

.link {
    display: flex;
    gap: 50px;
}

.link > p > a {
    color: black;
}

.request-item-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

footer {
    background-color: #7782ff;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-container > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*admin_dashboard.html*/
td {
    text-align: center;
}

.btn-danger,
main button{
    border-radius: 50px;
    padding: 10px 15px;
    background-color: white;
}

#id_name{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgba(119, 130, 255, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 30px;
}
.form-group:nth-child(1) {
    display: flex;
    gap: 20px;
}
.errorlist {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}